{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}
{% autoescape off %}


<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portfolio/front.jpg' %}" class="img-fluid">
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 id="hometext" class="font-weight-bold">Seja bem vindo! Sua visita é mais que especial 😊</h1>
  </div>
</div>


<h2 class="mt-5">Portfólio </h2>
<img src="{% static 'portfolio/python.png' %}" class="img-fluid" class="rounded float-right" width="30" height="30">
<img src="{% static 'portfolio/3.jpeg' %}" class="img-fluid" class="rounded float-right" width="32" height="32">
<img src="{% static 'portfolio/post.jpeg' %}" class="img-fluid" class="rounded float-right" width="32" height="32">

<img src="{% static 'portfolio/django.png' %}" class="img-fluid" class="rounded float-right" width="30" height="30">
<img src="{% static 'portfolio/cs3.jpeg' %}" class="img-fluid" class="rounded float-right" width="32" height="32">

gi


<hr>
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ project.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <h3>{{ project.title }}</h3>
    <p>{{ project.description }}</p>

  </div>
  {% endfor %}
</div>
<div class="container text-center">
    <a href="mailto:Vssarto@gmail.com" class="btn btn-primary my-2" >E-mail </a>
  </div>

{% endautoescape %}
{% endblock %}











